
  /* 
  ****************************************************
  
  1. Header
  
  ****************************************************
  */
  
  /* Fix the first heading and navigation bar to the top of the page. */
  header {
    position: fixed;
    display: flex;
    width: 99vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 180%;
    margin-left: 3%;
  }

  /* Add symbol after first heading. */
  header h1::after {
    content: " ❊";
  }

  header nav {
    margin-right: 3%;
  }
  
  /* Remove lines under navigation links and add a transition to the color when you hover over them.. */
  header nav a {
    color: #C5C0B8;
    text-decoration: none;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }

  /* Change the color of the links in the nav when hovered over. */
  header nav a:hover {
    color: #8789f0;
  }

  /* Add space between the header and main text section. */
  #spacer {
    height: 12vh;
    background-color: transparent;
  }

  /* 
****************************************************

2. Socials Side Bar

****************************************************
*/

ul {
    margin-right: 3%;
  }
  
  ul li {
    padding: 10px;
  }
  
  /* Set position of fix to the social media sidebar on the bottom left of the screen as a column. */
  #socials {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 3%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  /* Invert the social media icons to make them white. */
  #socials img {
    width: 22px;
    height: auto;
    filter: brightness(0) invert(1);
  }
  
  /* Create a vertical line under the social medias. */
  #vertical-line {
    width: 3px;
    height: 20vh;
    background-color: #C5C0B8;
    display: inline-block;
    align-items: center;
    margin-left: 20px;
  }