body {
  background-color: #0b1822;
  color: #C5C0B8;
}
/* 
****************************************************
  
1. Header
  
****************************************************
*/
  
/* Fix the first heading and navigation bar to the top of the page. */
header {
  position: fixed;
  display: flex;
  width: 95vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 180%;
  margin-left: 3%;
}

/* Add symbol after first heading. */
header h1::after {
  content: " âŠ";
}

header nav {
  margin-right: 3%;
}
  
/* Remove lines under navigation links and add a transition to the color when you hover over them.. */
header nav a {
  color: #C5C0B8;
  text-decoration: none;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

/* Change the color of the links in the nav when hovered over. */
header nav a:hover {
  color: #8789f0;
}

/* Add space between the header and main text section. */
#spacer {
  height: 12vh;
  background-color: transparent;
}

/* 
****************************************************

2. Socials Side Bar

****************************************************
*/

ul {
  margin-right: 3%;
  }
  
ul li {
  padding: 10px;
}
  
/* Set position of fix to the social media sidebar on the bottom left of the screen as a column. */
#socials {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  }
  
/* Invert the social media icons to make them white. */
#socials img {
  width: 22px;
  height: auto;
  filter: brightness(0) invert(1);
}
  
/* Create a vertical line under the social medias. */
#vertical-line {
  width: 3px;
  height: 20vh;
  background-color: #C5C0B8;
  display: inline-block;
  align-items: center;
  margin-left: 20px;
}

/* 
****************************************************

3. About Me Section 

****************************************************
*/

/* Add a single line using a border that goes on each side of the heading. (*See 'h2 span' below) */
h2 {
  color: #8789f0;
  font-size: 350%;
  margin-top: 8%;
  text-align: center;
  border-bottom: 2px solid #C5C0B8;
  line-height: 0.1em;
  margin-bottom: 3%;
}

/* Create a box under the heading that matches the background color to hide the horizontal line. */
h2 span {
  background: #0b1822;
  padding: 0 15px;
}

/* Change the color of 'Laura.' in the heading. */
#hello {
  color: rgb(84, 59, 199);
}

/* Create a flexible section for the image and text paragraph.*/
#about-me {
  display: flex;
  width: 95vw;
  height: 50vh;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3%;
}

/* Add a filter and transition to the image in the 'about' section that dulls the color. */
#about-me > img {
  border-radius: 8%;
  padding: 0.4%;
  border: 1px solid #C5C0B8;
  height: auto;
  width: 16vw;
  margin-right: 3%;
  filter: grayscale(25%);
  transition: filter 0.3s ease-in-out;
}

/* Add a hover effect that brings the color back to the image that was dulled. */
#about-me img:hover {
  filter: none;
  }

/* Adjust the size and direction of the content in the about section. */
#about-me-content {
  display: flex;
  flex-direction: column;
  width: 35%;
  font-size: 130%;
  margin-right: 12%;
}

#about-me-content img {
  padding-top: 8%;
  height: auto;
  width: 50px;
  transition: transform 0.2s ease-in-out;
}

/* Add a hover effect to the arrow image under the paragraph. */
#about-me-content img:hover {
  transform: scale(1.1);
}

/* 
****************************************************

4. Portfolio Section 

****************************************************
*/

/* Create a flexible section for the portfolio heading and content. */
#portfolio {
  display: flex;
  align-items: center;
  margin-top: 3%;
  height: 100vh;
  width: 95vw;
}

/* Add an even margin on each side of the heading. */
#portfolio h3 {
  width: 20%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 5vw;
  color: #C5C0B8;
}

/* Create a second flexible container for the portfolio work and allow the content to wrap. */
#work {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

/* Add transition for hover on project images. */
.project {
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(0.9);
  box-shadow: 0 3px 10px rgba(240, 234, 234, 0.767);
}

/* Make top images start at bottom of flex container. */
#project-1 {
  align-self: flex-end;
  width: 380px;
  height: 400px;
}

#project-2 {
  align-self: flex-end;
  width: 300px;
  height: 300px;
}

/* Make bottom images start at top of flex container. */
#project-4 {
  align-self: flex-start;
  height: 250px;
  width: 380px;
}

#project-5 {
  align-self: flex-start;
  height: 250px;
  width: 380px;
}

/* Add text on a blurred background to bottom left of projects. */
.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(12px);
  font-size: 18px;
  padding: 2%;
  color: rgb(29, 27, 27);
}

.image-container {
  position: relative;
  text-align: center;
  color: #C5C0B8;
}

.image-container img {
  width: 100%;
  height: 100%;
}
